{{ define "content" }}
<div class="page-header">
  <h1>О Проекте</h1>
</div>

<div class="row">
  <div class="col-md-9">
    <p>Идея пришла одним вечером после того, как мне в очередной раз пришлось помогать с придумыванием пароля. После этого я подумал, может, я не один такой? И начал его реализовывать и реализовал :)</p>

    <p>Данные технологии легли в основу этого приложения:</p>

    <ul>
      <li><a href="https://golang.org/">Go</a></li>
      <li><s><a href="https://www.ruby-lang.org/ru/" target="_blank">Ruby</a></s></li>
      <li><s><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></s></li>
    </ul>

    <p>А эти в дополнение:</p>
    <ul>
      <li><a href="http://ru.wikipedia.org/wiki/HTML" target="_blank">HTML</a></li>
      <li><a href="http://ru.wikipedia.org/wiki/CSS" target="_blank">CSS</a></li>
      <li><a href="http://sass-lang.com/" target="_blank">SASS</a></li>
      <li><a href="http://ru.wikipedia.org/wiki/HTML" target="_blank">JavaScript</a></li>
      <li><a href="http://ru.wikipedia.org/wiki/HTML" target="_blank">jQuery</a></li>
      <li><a href="http://ru.wikipedia.org/wiki/HTML" target="_blank">CoffeScript</a></li>
    </ul>

    <p>Приложение работает сейчас на <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>

    <p>Для рассылок я пользуюсь сервисом <a href="http://eepurl.com/XFFmD" target="_blank">Mailchimp</a>. Рекомендую Вам его попробовать!</p>

    <p>Проект на <a href="https://github.com/skibish/paffol" target="_blank">GitHub</a>.</p>

    <p>Если Вам это приложение приносит пользу, то я очень рад! И дайте мне знать как-то об этом :) Например, через комментарии ниже :)</p>
  </div>
  <div class="col-md-3">
    <div class="g-person" style="margin: 0 auto;" data-href="//plus.google.com/u/0/109529647483484752490" data-showtagline="false" data-rel="author"></div>
  </div>
</div>

<script type="text/javascript">
  window.___gcfg = {
    lang: 'ru'
  };

  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
{{ end }}
