{{ define "content" }}
<div class="jumbotron center">
  <h1>Паффоль — самый логичный генератор паролей.</h1>
</div>

{{ template "magicbox" }}

  <h2>Простота — залог успеха!</h2>

  <p>Это приложение создано для того, чтобы облегчить Вам жизнь! Идея проста — введите любимое слово или фразу на русском языке и получите пароль, который будет легок для запоминания и достаточно сложен для взлома.</p>

  <h2>Пароль, пароль и еще раз пароль...</h2>

  <p>Сейчас век интернета. Многие из нас зарегистрированы более чем в трех местах в сети (почта, банк, социальные сети и т.д.). И для каждого из этих мест при регистрации нужно придумать пароль. И тут начинается головная боль, не правда ли?</p>

  <p>Много кто, думаю, даже Вы, хотя бы раз пользовались в таком случае генератором паролей. Но, проблема в том, что такой пароль очень сложно запомнить. Почему? Потому что он не несет смысла. Просто набор случайных символов. В итоге через какое-то время
    (если Вы этот пароль куда-то не сохранили, не записали) Вы его успешно забудете.</p>

  <h2>Решение!</h2>

  <p>Решением данной проблемы была реализация приложения для таких как я — у кого плохая фантазия придумать хороший пароль :) Вы увидите, что пароль, который получиться, действительно легко запомнить! И это прекрасно! Ведь лучшее место для хранения паролей
    от банка и социальных сетей — это голова, а не лист бумаги или текстовый файл на Вашем компьютере.</p>

  <h2>Хотите знать больше?</h2>

  <p>Пока я не создал свой блог, но создал вот эту форму для подписки :) Если Вы в ближайшем будущем захотите получать от меня интересные новости, советы — подписывайтесь! Не бойтесь, я каждый день письма слать не буду. Я спам и спаммеров не люблю и таким
    становиться не буду. Пока это будет максимум 1 раз в неделю.</p>

  <div class="panel">
    <div class="panel-body">
      <form action="http://sergeykibish.us8.list-manage.com/subscribe/post?u=89d06c43399b56892e5888249&amp;id=a52a58c323" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate onsubmit="return validate();"
      style="margin: 0 auto;">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="mce-FNAME">Имя</label>
              <input type="text" value="" name="FNAME" class="form-control input-lg" id="mce-FNAME" placeholder="Имя" maxinput="20">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="mce-EMAIL">Email</label>
              <input type="email" value="" name="EMAIL" class="form-control input-lg required email" id="mce-EMAIL" placeholder="Email">
            </div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_89d06c43399b56892e5888249_a52a58c323" tabindex="-1" value="">
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning btn-lg btn-block" id="mc-embedded-subscribe">Подписаться</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <p>А потом вы можете почитать
    <a href="/tips">Советы</a> и <a href="/about">О Проекте</a>, чтобы узнать, как можно сделать пароль еще лучше и откуда растут ноги у этого проекта.</p>

  <script type="text/javascript">
    function validate() {
      var x = document.forms["mc-embedded-subscribe-form"]["FNAME"].value;
      var y = document.forms["mc-embedded-subscribe-form"]["EMAIL"].value;
      f = true;
      if (x === "" || x === null) {
        //alert("Поле Имя должно быть заполнено");
        $("#mce-FNAME").parent().addClass('has-error');
        //$("#mce-FNAME").parent().append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
        f = false;
      } else {
        $("#mce-FNAME").parent().removeClass('has-error').addClass('has-success');
        //$("#mce-FNAME").parent().append("<span class='glyphicon glyphicon-ok form-control-feedback'></span>");
      }

      if (y.indexOf("@") <= 0) {
        //alert("Поле Email должно быть заполнено");
        $("#mce-EMAIL").parent().addClass('has-error');
        //$("#mce-EMAIL").parent().append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
        f = false;
      } else {
        $("#mce-EMAIL").parent().removeClass('has-error').addClass('has-success');
        //$("#mce-EMAIL").parent().append("<span class='glyphicon glyphicon-ok form-control-feedback'></span>");
      }

      if (f) {
        $("#mce-FNAME").parent().addClass('has-success');
        //$("#mce-FNAME").parent().append("<span class='glyphicon glyphicon-ok form-control-feedback'></span>");
        $("#mce-EMAIL").parent().addClass('has-success');
        //$("#mce-EMAIL").parent().append("<span class='glyphicon glyphicon-ok form-control-feedback'></span>");
        return true;
      } else {
        return false;
      }
    }
  </script>
  {{ end }}
