{{ define "content" }}
<div class="page-header">
  <h1>Советы</h1>
</div>

<h2>Какой длинны должен быть пароль?</h2>

<p>Лучше всего, чтобы пароль был длинной от 8 до 30 символов. Можно и больше, но навряд ли такой пароль будет легко запомнить.</p>

<h2>Что должно быть в пароле, чтобы его было не просто взломать?</h2>

<p>В пароле должны быть:</p>
<ul>
  <li>Буквы (большие и маленькие)</li>
  <li>Цифры</li>
  <li>Специальные символы</li>
</ul>

<p>Желательно, чтобы эти вещи были в разброс, т.е. не
  <code>abcd1234</code>, а
  <code>a8$13#*!</code>
</p>

<h2>Как я могу усложнить пароль, который получился после генерации?</h2>

<p>Просто! :) Например, Вы можете вокруг пароля добавить специальный символ, например
  <code>*</code>. И тогда Ваш пароль будет выглядеть так:
  <code>*abc123*</code>. Такой пароль уже будет гораздо труднее взломать.</p>

<h2>Могу я сохранить это приложение к себе на телефон?</h2>

<p>Да. Для Android <a href="http://www.androidpit.ru/android-dlya-novichkov-kak-vynesti-zakladki-brauzera-na-rabochij-stol" target="_blank">прочитайте эту инструкцию</a>. Для iOS устройств <a href="http://www.iphone-gps.ru/2013/11/20/vizualnye-zakladki-safari-v-ios-7/"
  target="_blank">прочитайте эту</a>.</p>
{{ end }}
